.Rproj.user
.Rhistory
.RData
.Ruserdata
public/
resources/
**/catboost_info/
## ignore the html files created by knitr
content/post/*.html
**/index_cache/
content/post/**/data/
ignore/
.DS_Store
Thumbs.db
content/post/**/*.html